@import url("../../common/css/animation.css");

body {
    cursor:default;
    overflow:hidden;
    width:460px;
    height:310px;
    color:#FEDCBA;
}

#dialog {
    position:fixed;
    width:450px;
    min-height:300px;
    max-height:300px;
    z-index:-1000;
    margin:5px;
    border-radius:8px;
    box-shadow:0 0 5px 3px rgba(0,0,0,0.2);
    border:rgba(255,255,255,0.1) solid 1px;
}

#container {
    position:fixed;
    display:-webkit-box;
    padding:10px 20px;
}

.Title {
    width:420px;
    height:30px;
}

.Text {
    float:left;
    width:370px;
    height:30px;
    line-height:30px;
    color:white;
}

.Close {
    float:right;
    margin-right:-10px;
	color:#FFFFFF;
    font-size:18px;
    width:16px;
    height:16px;
    background:url("../images/x.png") no-repeat center;
}

.Close:hover { 
    background:url("../images/x.png") no-repeat center rgba(255,255,255,0.1);
}

.Content {
    width:440px;
    height:200px;
}

.Icon {
    float:left;
    margin:0 20px 10px 0;
}

.Blank {
    clear:both;
}

p {
    margin:7px 0;
}

p span {
    text-align:right;
    width:120px;
    height:26px;
    line-height:26px;
    display:block;
    float:left;
    padding:0 5px 0 0;
}

p input, p select {
    width:150px;
    height:26px;
}

input:hover, input:focus, select:hover, select:focus {
    border:#31A2C4 1px solid;
    height:26px;
}

p i {
    line-height:26px;
    font-style:normal;
}

.Info {
    color:red;
    text-align:center;
}

.Line {
    height:0px;
    border-top:rgba(0,0,0,0.7) solid 1px;
    border-bottom:rgba(255,255,255,0.3) solid 1px;
    margin:15px 4px 0 -16px;
}

.Footer {
    border-top:1px solid rgba(0.5,0.5,0.5,0.3);
    width:420px;
    height:50px;
}

.Footer > div {
    font-size:16px;
    font-weight:bold;
    float:right;
    width:50px;
    height:40px;
    line-height:40px;
    text-align:center;
}

.Footer > div:hover {
    color:white;
}
